body{
    background-color: darkgrey;
}
header h1{
    color: white;
    display: inline;
    font-style: italic;

}

nav ul{
    display: inline-block;
}

nav ul li {
    color: whitesmoke;
    margin: 50px;

}
 nav ul li a{
     text-decoration: none;
     text-decoration-style: solid;

 }

 article section h1{
     margin: 20px;
     color: black;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

 }

 article section img{
     width: 25%;
     height: 25%;
 }
